<?xml version="1.0" encoding="UTF-8"?>
<config>
<!--    <className>com.wzy.design.pattern.creational.factorymethod.v1.FileLoggerFactory</className>-->
    <className>com.wzy.design.pattern.creational.factorymethod.v1.DatabaseLoggerFactory</className>
    <pictureReaderFactory>com.wzy.design.pattern.creational.factorymethod.practice.JpgReaderFactory</pictureReaderFactory>
    <skinFactory>com.wzy.design.pattern.creational.abstractfactory.v1.SummerSkinFactory</skinFactory>
    <controllerFactory>com.wzy.design.pattern.creational.abstractfactory.practice.SymbianControllerFactory</controllerFactory>
    <builder>com.wzy.design.pattern.creational.builder.v1.HeroBuilder</builder>
    <playerBuilder>com.wzy.design.pattern.creational.builder.v2.MemoryModeBuilder</playerBuilder>
    <adapterv1>com.wzy.design.pattern.structural.adapter.v1.OperationAdapter</adapterv1>
    <adapterv2>com.wzy.design.pattern.structural.adapter.v2.OperationAdapter</adapterv2>

</config>